@import "tailwindcss";

/* For automatic system preference detection, don't need a custom variant */
/* For manual toggle, uncomment: */
/* @variant dark (&:where(.dark, .dark *)); */

@theme {
  /* Light mode colors */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-muted: oklch(50% 0 0);
  --color-base-content: oklch(0% 0 0);

  /* Fonts */
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-supply-mono), monospace;
}

/* This ensures Tailwind automatically creates both regular and dark: utilities */
@media (prefers-color-scheme: dark) {
  :root {
    --color-base-100: oklch(0.145 0 0);
    --color-base-200: oklch(0.205 0 0);
    --color-base-300: oklch(0.269 0 0);
    --color-base-muted: oklch(70% 0 0);
    --color-base-content: oklch(100% 0 0);
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-base-200, currentColor);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    --webkit-scrollbar-width: 40px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    scrollbar-gutter: none;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility debug {
  border: 1px solid red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@utility fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.toast-stack-card {
  width: 356px;
  height: 74px;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--color-base-200);
  background: var(--color-base-100);
  border-radius: 8px;
  grid-area: 1 / 1;
  --scale-increment: 0.05;
  --translate-increment: -13%;
  transform: scale(calc(1 - var(--index) * var(--scale-increment)))
    translateY(calc(var(--index) * var(--translate-increment)));
}

.box-mine {
  transition: transform 0.2s ease;
}
.box-mine:hover {
  transform: translate(0, -20%);
}

.box-solution:hover .box-solution-inner {
  transform: translateY(-20%);
}
.box-solution-inner {
  height: 56px;
  width: 56px;
  background: #fad655;
  border-radius: 50%;
  transition: transform 200ms ease;
}
.box-solution {
  width: 56px;
}
