.box-mine {
  transition: transform 0.2s ease;
}
.box-mine:hover {
  transform: translate(0, -20%);
}

.box-solution:hover .box-solution-inner {
  transform: translateY(-20%);
}
.box-solution-inner {
  height: 56px;
  width: 56px;
  background: #fad655;
  border-radius: 50%;
  transition: transform 200ms ease;
}
.box-solution {
  width: 56px;
}
